* {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.result {
  background-color: #858694;
  padding: 20px 10px;
  text-align: right;
  color: white;
}

.buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-template-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

button {
  border-width: 1px;
  border-color: #e4e4e4;
  padding: 1.5rem;
}

.greyButtons {
  background-color: #e0e0e0;
}

.orangeButtons {
  background-color: #f5913e;
}

.greyButton-0 {
  grid-column: 1/3;
  -ms-grid-column: 1/3;
  background-color: #e0e0e0;
}

.quotes {
  margin: auto;
  text-align: center;
  min-width: 300px;
  width: 40%;
}

.author {
  font-weight: 500;
  font-style: italic;
  color: black;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container h2 {
  color: #f5913e;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: #f5913e;
  background-color: rgb(246, 241, 241);
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: #f5913e;
  font-size: 18px;
  padding: 0 1.5em;
  margin: 0;
  text-decoration: none;
}

.homeP {
  width: 50%;
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.calculator h1 {
  text-align: center;
}

.calculator div {
  margin: auto;
}

.calc {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.cal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  padding: 0 5em;
}

.math {
  height: 100%;
}

.math-text {
  height: 100%;
}

.homeContent p {
  font-size: 18px;
  font-weight: 600;
}
